<!DOCTYPE html>
<html>
 <head>
	<meta content=" text/html;charset=utf -8" http-equiv="Content-Type">
	<meta content ="utf-8" http-equiv="encoding">
	<link rel="stylesheet" href="style.css">
	<script src="https://d3js.org/d3.v5.min.js"></script>
 </head >
 
 <body>
	<input id="ms" class="message" v-model="message" placeholder="String pentru compresie">
	<div class="output-empty" v-if="message == ''">Radix Tree</div>
	<script src="arbore.js"></script>
    <div class="output-empty" v-if="message == ''">New Codes: </div>

    <input value="click to update" type="button" onclick="on_button();" />
 </body>
</html>
